body {
  background: url("https://imageshack.com/i/pmkYsKa3j");
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  color: white;
  font-family: helvetica;
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

h1 {
  font-family: 'Borel';
  font-size: 60px;
  margin: 25px 0 5px 0;
  color: white;
  text-align: center;
  margin: 100px;
  animation: flicker 1.5s infinite alternate, fadeIn 2s ease-in;
  text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #5271ff,
    0 0 82px #5271ff,
    0 0 92px #5271ff,
    0 0 102px #5271ff,
    0 0 151px #5271ff;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}





/* .img2 {
  width: 30%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: block;
  background: black;
  border-radius: 5px;
  padding: 10px 0 10px 0;
  
} */

.spot-light {
  font-size: 60px;
  font-family: 'Borel';
  color: white;
  text-align: center;
  animation: wobble 1s;
}

.spot-light:hover {
  animation: textWobble 0.5s ease-in-out;
}

@keyframes textWobble {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}


nav.nav-bar {
  background-color: black;
  padding: 0;
  margin: 0;
}

ul.navigation {
  list-style: none;
  display:flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  width: 100%;
  
}

li {
  display: flex;
  justify-content: center;
  border: 2px solid purple;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
  
}

div.main-text-bg {
  display: flex;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0;
  padding: 0;
}

div.desk-img {
  display: flex;
}

.desk-img img {
  width: 70%;
  border: 5px solid black;
  border-radius: 15px;
}

div.slogan {
  display: flex;

}

.slogan p {
  display: flex;
  align-items: center;
  font-size: 30px;
  
}
